<div class="card mt-5">
    <div class="card-body">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <div class="form-group">
                <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
                <input 
                  type="text"
                  class="form-control"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="productService.selectedProduct.name"
                  placeholder="Agregar producto"
                  >
            </div>
            <div class="form-group">
                    <input 
                      type="text"
                      class="form-control"
                      name="category"
                      #category="ngModel"
                      [(ngModel)]="productService.selectedProduct.category"
                      placeholder="Agregar categoria"
                      >
            </div>
            <div class="form-group">
                    <input 
                      type="text"
                      class="form-control"
                      name="location"
                      #location="ngModel"
                      [(ngModel)]="productService.selectedProduct.location"
                      placeholder="Agregar una localización"
                    >
            </div>
            <div class="form-group">
                    <input 
                      type="text"
                      class="form-control"
                      name="price"
                      #price="ngModel"
                      [(ngModel)]="productService.selectedProduct.price"
                      placeholder="Agregar el precio"
                    >
            </div>   
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Agregar producto
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                    <i class="fas fa-sync-alt"></i> Reiniciar
                </button>
                <img width="70" src="https://firebasestorage.googleapis.com/v0/b/angular-crud-firebase-5fe2b.appspot.com/o/loader.gif?alt=media&token=02991ef1-e501-40f7-afcb-5f878562aa5e"> 
            </div> 
              
        </form>
    </div>
</div>